.container
  .col-xs-12.col-md-4
    h1 Knottie
    p.lead
      | The framework that isn't.
  .col-xs-12.col-md-4
    h3.lead
      | Use this document as a way to quickly start any new project.
      br
      | All you get is this text and a mostly barebones HTML document.
  .col-xs-12.col-md-4
    h3.lead
      | Proudly built with:
    p
      a(href='http://nodejs.org/') Node.js
    p
      a(href='http://gulpjs.com/') Gulp.js
    p
      a(href='http://browserify.org/') Browserify
    p
      a(href='http://getbootstrap.com/') Twitter Bootstrap
    p
      a(href='http://jade-lang.com/') Jade
    p
      a(href='http://lesscss.org/') Less
