@import "include.less";

html, body, .container, .row, #menu {
  height: 100%;
}
#docs {
  height: 100%;
  overflow: auto;
}
#menu {
  padding-top: 10px;
}
#menu a {
  color: #ffffff;
}
#menu>ul>li>ul {
  margin-left: 15px;
}
#menu>ul>li>ul>li>ul {
  margin-left: 30px;
}
.pull-down {
  bottom: 0px;
  position: absolute;
}
#xs-header {
  padding: 7px;
}
